@media screen and (max-width: 576px) {
    .section_margin, footer {
        margin: 40px auto 0;
    }
    .container{
        text-align: center;
    }
    .common_heading{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .common_title{
        font-size: 1.12rem;
    }
    .logo_text {
        font-size: 1.37rem;
    }
    .menu ul{
        display: none;
    }
    .ham_burger{
        display: block;
        font-size: 20px;
    }
    .banner_container {
        padding: 7px 16px 25px;
    }
    .banner_text {
        font-size: 1.5rem;
    }
    input, select{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .tours_image img, 
    iframe,
    .newsletter_image img{
        width: 100%;
        height: 100%;
    }
    .tours_container,
    .newsletter_container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        gap: 24px;
    }
    .destination_images img {
        height: 150px;
    }
    .country {
        font-size: 1rem;
        transform: translate(-50%, -110%);
    }
    .row_1,
    .row_2,
    .row_3{
        grid-template-columns: 1fr;
    }
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
    .card_2{
        width: 100%;
    }
    .newsletter_offer {
        width: 178px;
        margin-left: 87px;
        margin-top: -139px;
        margin-bottom: 243px;
        transform: rotate(-36.63deg);
    }
    .offer_title {
        font-size: 1.25rem;
    }
    .offer_subtitle {
        font-size: 1rem;
    }
footer {
    padding: 60px 20px;
}
    
}