@media screen and (max-width: 576px) {
    .section_margin, footer {
        margin: 40px auto 0;
    }
    .container{
        text-align: center;
    }
    .menu ul{
        display: none;
    }
    .ham_burger{
        display: block;
        font-size: 24px;
    }
    .banner_container {
        padding: 106px 50px;
    }
    .banner_text {
        font-size: 1.60rem;
    }
    input, select{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .tours_image img, 
    iframe,
    .newsletter_image img{
        width: 100%;
        height: 100%;
    }
    .tours_container,
    .newsletter_container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        gap: 24px;
    }
    .row_1,
    .row_2,
    .row_3{
        grid-template-columns: 1fr;
    }
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
    .card_2{
        width: 100%;
    }
    .newsletter_offer {
        width: 250px;
        margin-left: 96px;
        margin-top: -152px;
        margin-bottom: 272px;
        transform: rotate(-28.63deg);
    }
    .offer_title {
        font-size: 1.25rem;
    }
    .offer_subtitle {
        font-size: 1rem;
    }
footer {
    padding: 60px 50px;
}
    
}